:root {
    --primary-color: #007e6a;
    --secondary-color: #00c16e;
    --primary-bg-color: #061f24;
    --secondary-bg-color: #01181d;
    --bg-grey-color: #f6f6f6;
    --heading-color: #404044;
    --text-color: #707070;
}